html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

html { 
    --primaryColor: rgb(63, 178, 255);
    --backgroundImage: url("./Blue.jpg");
    --primaryText: black;
}

html[data-theme="red"] {
    --primaryColor: rgb(255, 63, 63);
    --backgroundImage: url("./Beach.jpg");
    --primaryText: black;
}

html[data-theme="green"] {
    --primaryColor: rgb(79, 255, 63);
    --primaryText: black;
  }
  
  html[data-theme="yellow"] {
    --primaryColor: rgb(242, 255, 63);
  }